/* Homepage */

*{
    font-family: Arial;
}

body {
    margin: 0;
    padding: 0;
    background-color:rgb(248, 248, 248);
}

.header {
    display: flex;
    align-items: center;
    background: #badcf0;
    padding: 15px 40px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.logo-header {
    display: flex;
    align-items: center;
    gap: 10px;
}

.logo {
    height: 50px;
    padding: 5px;
}

.title {
    font-size: 22px;
    color: #2a8bc7;
}

.navibar {
    margin-left: auto;
    display: flex;
    align-items: center;
}

.navibar ul {
    display: flex;
    list-style: none;
    gap: 25px;
}

.navibar a {
    position: relative;
    text-decoration: none;
    color: #2a8bc7;
    font-size: 18px;
}

.navibar a:after {
    content: "";
    position: absolute;
    background-color: #2a8bc7;
    height: 3px;
    width: 0;
    left: 0;
    bottom: -10px;
    transition: 0.3s;
}

.navibar a:hover::after {
    width: 100%;
}

.navibar ul a:hover {
    color: #206a99;
}

.login {
    background: white;
    color: #2a8bc7;
    padding: 8px 18px;
    border-radius: 10px;
    font-size: 18px;
    text-decoration: none;
    margin-left: 20px;
    transition: transform 0.2s ease;
}

.login:hover {
    color: #206a99;
    background: #f8f8f8;
    transform: translateY(-3px);
}

.basket-icon img {
    width: 32px;
    height: 32px;
    object-fit: contain;
}

.header .basket-icon {
    margin-left: 16px;
    display: flex;
    align-items: center;
}

.main-image {
    position: relative;
    display: inline-block;
}

.main-image::after {
    content: "";
    position: absolute;
    inset: 0;
    background: rgba(0, 80, 255, 0.1);
    z-index: 1;
}

.main-image img {
    width: 100%;
    display: block;
    opacity: 0.6;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    z-index: 0;
}

.text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 24px;
    text-align: center;
    z-index: 3;
}

.text1 {
    font-size: large;
}

.text h3,
.text p {
    text-shadow: 2px 2px 10px rgb(0, 0, 0);
}

.text a {
    font-size: 22px;
    padding: 10px 20px;
}

.text3 {
    color: #2a8bc7;
}

.text a.login {
    position: relative;
    z-index: 4;
    display: inline-block;
}

.categories-header {
    text-align: center;
}

.cards {
    height: 300px;
    margin: 50px;
    margin-top: 0;
    border-radius: 10px;
    box-shadow: 5px 5px 10px black;
    overflow: hidden;
    position: relative;
}

.cards img {
    height: 300px;
    transition: 0.5s;
}

.cards:hover .desc {
    height: 150px;
    bottom: 0px;
}

.cards:hover p {
    opacity: 1;
    visibility: visible;
}

.cards:hover img {
    transform: scale(1.1) rotate(-1deg);
}

.category-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.desc {
    height: 55px;
    width: 300px;
    padding: 6px;
    box-sizing: border-box;
    position: absolute;
    bottom: 0px;
    background: rgb(27, 27, 27, 0.5);
    color: white;
    transition: 0.5s;
}

.desc h2 {
    margin: 10px;
}

.desc p {
    font-size: 15px;
    margin: 20px;
    visibility: hidden;
    opacity: 0;
}

.footer {
    background: #badcf0;
    text-align: center;
    padding: 20px;
    color: #2a8bc7;
    margin-top: 40px;
}

/* About Us */

.about-us {
    display: flex;
    margin: 30px;
}

.about-us img {
    height: 400px;
    box-shadow: 16px 20px 40px rgba(1, 2, 68, 0.2);
    opacity: 0.85;
}

.about-text {
    background: rgb(245, 245, 245);
    padding: 50px;
    box-shadow: 16px 20px 40px rgba(1, 2, 68, 0.2);
}

.about-text a {
    display: inline-block;
    margin-top: 20px;
}

.contact-button {
    background: #96CCE7;
    color: #ffffff;
    padding: 8px 18px;
    border-radius: 10px;
    font-size: 18px;
    text-decoration: none;
    transition: transform 0.2s ease;
    margin-left: 0px;
}

.contact-button:hover {
    color: #eaeaea;
    background: #92c5df;
    transform: translateY(-3px);
}

/* Products Page */

.product-container {
    width: 95%;
    margin: 0 auto;
    align-items: center; 
    display: flex;
    flex-direction: column;
}

.search {
    margin: 1em 0;
    justify-content: center;
    display: flex;
    width: 90%;
}

.search input {
    background-color: transparent;
    width: 40%;
    border: none;
    outline: none;
    border-bottom: 1.5px solid rgb(118, 118, 118);
}

.search input:focus {
    border-bottom-color:#5db5ec;
    transition: 0.3s;
}

.search button {
    padding: 5px 15px;
    margin-left: 5px;
    background-color: #f3f3f3;
    border-radius: 10px;
    border: 1px solid rgb(194, 194, 194);
}

.search button:hover {
    background-color:#e8e8e8;
    transition: 0.3s;
    cursor: pointer;
}

.button-val {
    border: 1.5px solid #4a8db8;
    padding: 5px 5px;
    border-radius: 10px;
    background-color: transparent;
    cursor: pointer;
}

.button-val:hover {
    background-color: #e8e8e8;
    transition: 0.3s;
}

.button-val.active {
    background-color:#cae6f6;
}

#products-display {
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 10px;
    padding: 20px 0;
}

.card {
    background-color: #ffffff;
    max-width: 18em;
    margin-top: 1em;
    padding: 1em;
    border-radius: 5px;
    box-shadow: 16px 32px 40px rgba(1, 2, 68, 0.08);
}

.image-container {
    text-align: center;
}

.image-container img {
    max-width: 100%;
    object-fit: contain;
    height: 13em;
}

/*---Contact Form---*/

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Outfit' ;
    background: linear-gradient(#fdfdfd,#feffff);
    min-height: 100vh;
  
}

.contact-container{
    height: 100vh;
    display:flex;
    align-items: center;
    justify-content: center;
    gap: 50px
    
}

.contact-container form {
    background: #ffffff;
    padding: 40px 50px;
    border-radius: 10px;
    box-shadow: 0px 12px 30px rgba(0,0,0,0.1);
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.contact-right{
    display:flex;
    flex-direction: column;
    align-items: flex-start;
    gap:20px;
}

.contact-right-title h2{
    text-align: center;
    font-weight: 600;
    color:#626262;
    font-size: 40px;
    margin-bottom: 5px;
}

.contact-right-title p{
    color:#626262;
}

.contact-right-title hr{
    border: none;
    width: 120px;
    height: 5px;
    background-color: white;
    border-radius: 10px;
    margin-bottom: 20px;
}

.contact-inputs{
    width: 400px;
    height: 50px;
    border: none;
    padding-left: 25px;
    font-weight: 500;
    color:grey;
    border-radius: 50px;
}

.contact-right textarea{
    height: 140px;
    padding-top: 15px;
    border-radius: 20px;
}

.contact-inputs:focus{
    border: 2px solid rgba(1, 35, 62, 0.6);
}

.contact-inputs::placeholder{
    color: lightgrey;
}

.contact-right button{
    display: flex;
    align-items: center;
    padding: 15px 30px;
    font-size: 16px;
    color: white;
    gap: 10px;
    border: none;
    border-radius: 50px;
    background: linear-gradient(270deg,#96CCE7);
    transition: transform 0.2s ease;
}

.contact-right button:hover {
    color: #eaeaea;
    background: #92c5df;
    transform: translateY(-3px);
}

.contact-right img{
    width: 500px;
}

.contact-right button img{
    height: 15px;
}

@media (max-width:800px) {
    .contact-inputs{
        width: 80vw;
    }
    .contact-left{
        display: none;
    }
}

.contact-left img{
    width: 400px;
    height: auto;
}

/* Popup */

.popup-bg {
  position: fixed;
  inset: 0;
  background: rgba(0,0,0,0.6);
  display: none;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

.popup-bg.show {
  display: flex;
}

.popup {
  background: #fff;
  padding: 22px;
  border-radius: 12px;
  width: 320px;
  max-width: calc(100% - 40px);
  box-shadow: 0 12px 30px rgba(0,0,0,0.25);
  text-align: left;
  position: relative;
}

.popup h2 { 
    margin: 0 0 8px; 
    font-size: 20px; 
}

.popup p { 
    margin: 6px 0; 
}

.popup .close-btn {
    position: absolute;
    right: 10px;
    top: 6px;
    font-size: 20px;
    line-height: 1;
    cursor: pointer;
    background: transparent;
    border: none;
}

#basket { 
    margin-top: 20px; 
    border: 1px solid #ccc; 
    padding: 10px; 
    width: 220px; }

/* Login and Register */

.login-form{
    height: 100vh;
    display:flex;
    align-items: center;
    justify-content: center;
}

.login-form form {
    background: #ffffff;
    padding: 40px 50px;
    border-radius: 10px;
    box-shadow: 0px 12px 30px rgba(0,0,0,0.1);
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.register-form{
    height: 100vh;
    display:flex;
    align-items: center;
    justify-content: center;
}

.register-form form {
    background: #ffffff;
    padding: 40px 50px;
    border-radius: 10px;
    box-shadow: 0px 12px 30px rgba(0,0,0,0.1);
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.login-details{
    display:flex;
    flex-direction: column;
    gap: 6px;
    font-size: 16px;
    color: #4d4d4d;
}

.login-form h1{
    font-weight: 600;
    color:#626262;
    font-size: 40px;
    text-align: center;
    margin-bottom: 10px;
}

.register-form h1{
    font-weight: 600;
    color:#626262;
    font-size: 40px;
    text-align: center;
    margin-bottom: 10px;
}

.login-details input{
    width: 400px;
    height: 50px;
    border: none;
    padding-left: 25px;
    font-weight: 500;
    border-radius: 50px;
}

.login-details input:focus{
    border: 2px solid rgba(1, 35, 62, 0.6);
}

.login-details input::placeholder{
    color: lightgrey;
}

.log-button {
    display: flex;
    align-items: center;
    padding: 15px 30px;
    font-size: 16px;
    color: white;
    gap: 10px;
    border: none;
    border-radius: 50px;
    background: linear-gradient(270deg,#96CCE7);
    transition: transform 0.2s ease;
}

.log-button:hover {
    color: #eaeaea;
    background: #92c5df;
    transform: translateY(-3px);
}

.forgot {
    text-align: right;
    color: #2a8bc7;
    text-decoration: none;
}

.forgot:hover {
    color: #206a99;
    text-decoration: underline;
}

.register-link {
    color: #2a8bc7;
    text-decoration: none;
}

.register-link:hover {
    color: #206a99;
    text-decoration: underline;
}

